body {
    font-family: Arial, sans-serif;
    background-color: #444;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h3 {
    margin: 0;
    text-align: center;
}
ul {
    padding: 0;
    list-style: none;
}

#overskrift {
    margin-bottom: 20px;
}
#hobby, #sprk, #skil, #meg, #erfaring, #utdanning, #bilde {
    margin-bottom: 20px;
}
#bilde img {
    max-width: 30%;
    height: auto;
    display: block;
    margin-top: 10px;
    float: right;
    border: 5px, solid, black;
}
.section-title {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.skills-list li {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.knapp {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 100px;
    text-align: center;
    margin: 20px auto;
}
.knapp:hover {
    background-color: #0e110e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 100px;
    text-align: center;
    margin: 20px auto;
}